{% extends 'base.html' %}
{% block title %}
Listado de Flota
{% endblock %} 
{% block content %}  

  <h1>Lista de Aeronaves:</h1>
  <h2>Crear Nueva Aeronave <h2> <a href="/fleet/create_fleet/" class="btn btn-primary">Cargar Aeronave</a>
  
    {% for vuelo in fleets %}
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
       <div class="card-body">
          
          <p class="card-text"><h5>Empresa: {{vuelo.aircraft}}</h5></p>
          <p class="card-text"><h5>Codigo IATA: {{vuelo.iata_code}}</h5></p>
          <p class="card-text"><h5>Configuración: {{vuelo.seats}}</h5></p>
            
         
        </div>
      </div> 
    {% endfor %}
    {% endblock %} 