<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Vuelos:</h1>
    {% for vuelo in flights %}
        <p>{{vuelo.aeropuerto}} , {{vuelo.tipo}} , {{vuelo.cia_vuelo}} , {{vuelo.acft}} , {{vuelo.fecha_hora}} , {{vuelo.ruta}} , {{vuelo.observacion}} , {{vuelo.clase}} , {{vuelo.cia}} , {{vuelo.pax}}    </p>
        {% if vuelo.cia == 'AR' %}
            <p>Vuelo operado por Aerolineas Argentinas </p>
        {% else %}
        <p>Vuelo operado por otra empresa aerea </p>
        {% endif %}
    {% endfor %}
    
</body>
</html>