{% extends 'base.html' %}
{% block title %}
Listado de Vuelos
{% endblock %} 
{% block content %}  

  <h1>Lista de Vuelos:</h1>

  {% if request.user.is_authenticated%}
    {%if request.user.is_superuser%}
      <a href="/flights/create_fligth/" class="btn btn-primary">Cargar Vuelo</a>
      <p> </p>
      <p> </p>
      <p> </p>
      {% endif %}
    {% endif %}

    <div class="row row-cols-1 row-cols-md-3">
    {% for vuelo in object_list %}
    <div class="col mb-4">

    <div class="card text-center" style="width: 18rem;">
        
      <div class="card-body">
          <p class="card-title">{{vuelo.aeropuerto}} - {{vuelo.cia_vuelo}} - {{vuelo.ruta}} </p>
            {% if vuelo.flight_image.url != '' %}
              <img src = "{{vuelo.flight_image.url}}" alt = "..." with = "50px" height = "50px">   
            {% else %}
              <img src = "https://www.aa2000.com.ar/img/aa2000_1200x630.png" alt = "..." with = "50px" height = "50px">   
            {% endif %}
            {% if vuelo.tipo == 'Arribo' %}
              <p>Arriba: {{vuelo.fecha_hora}}  </p>
            {% else %}
              <p>Parte: {{vuelo.fecha_hora}} </p>
            {% endif %}
            <p class="card-text"> <h5>Acft: {{vuelo.acft}}</h5> </p>
            <p class="card-text"><h5>PAX: {{vuelo.pax}}</h5></p>
            <p class="card-text"><h5>OBS: {{vuelo.observacion}}</h5></p>
            {% if vuelo.cia == 'AR' %}
                <p><h5>Vuelo operado por Aerolineas Argentinas </h5></p>
            {% else %}
                <p><h5>Vuelo operado por: {{vuelo.cia}}</h5> </p>
            {% endif %}
          <a href="/flights/update_flight/{{vuelo.id}}/" class="btn btn-primary">Actualizar</a>
          <a href="/flights/delete_flight/{{vuelo.id}}/" class="btn btn-danger">Eliminar</a>
        </div>
      
      </div> 
    </div> 
    {% endfor %}
  </div> 
    {% endblock %}   
    
