{% extends 'base.html' %}
{% block title %}
Listado de Rutas
{% endblock %} 
{% block content %}  

  <h1>Lista de Rutas:</h1>
  <h2>Crear Nueva Ruta <h2> <a href="/routes/create_route/" class="btn btn-primary">Cargar Ruta</a>
  
    {% for vuelo in routes %}
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
       <div class="card-body">
          
          <p class="card-text"><h5>Ruta: {{vuelo.route}}</h5></p>
          <p class="card-text"><h5>Codigo IATA: {{vuelo.iata_code}}</h5></p>
          {% if vuelo.domestico == True %}
          <p><h5>Es una ruta domestica</h5></p>
        {% else %}
          <p><h5>Es una ruta internacional</h5> </p>
        {% endif %}
          
            
        <a href="/routes/update_routes/{{vuelo.id}}/" class="btn btn-primary">Actualizar</a> 
        <a href="/routes/delete_route/{{vuelo.id}}/" class="btn btn-danger">Eliminar</a> 
        </div>
      </div> 
    {% endfor %}
    {% endblock %} 